<footer>
    <nav class=" navbar-dark bg-dark" id="foot">
      <div id="foot">
        <p id="p">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright&copy;: Ellijah Abrazado: Assignment 1: Fall 2022 : Software Engineering Technician : Web Application Development</p>
      </div>
      <h6 class="display-6"&copy;2022 All rights reserved.></h6>
      <link rel="stylesheet" href="/public/Content/app.css">
    </nav>
    </footer>